:root {
  --melon: white;
  --light-pink: #ffa8a9ff;
  --tickle-me-pink: #f786aaff;
  --magenta-haze: rgb(156, 151, 151);
  --lavender: rgba(209, 13, 134, 0.801);
  }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#main { height:100vh;
  background-color: var(--melon); }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.flex-row{
  display: block;
  display:flex;
  flex-wrap: wrap;
}

/* header & nav */
.header {
  background-color: var(--magenta-haze);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 6px;
}

header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#myName {
  color: var(--light-pink);
  text-decoration: none;
}

header ul a {
  text-decoration: none;
  padding: 10px 40px;
}
a.nav-link:hover {
color: var(--tickle-me-pink);
}

a.nav-link {
  color: var(--light-pink);
  }

a {
	border-radius: 5px;
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

li {
  list-style: none;
}

.navText{
  color: var(--light-pink);
}

.navText:hover{
  color: var(--lavender);
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

.hero {
  width: 100%;
  height: 100%;
  padding: 0px;
}
/* end of header */


/* single pages */
#portfolio{
  background-color: var(--melon);
  padding-top: 20px;
  padding-bottom: 40px;
}

h1.sectionName{
  color:var(--tickle-me-pink);
  text-align: center;
  border-bottom: 2px solid;
  border-color: var(--magenta-haze);
  margin: 0 auto 5px auto;
  width: 40%;
}
p {
  color: var(--magenta-haze);
  font-size: 20px;
}

img{
  height: 200px;
  padding-right: 0px;
  }

p.description {
  float: right;
  text-align: center;
}

#about {
  background-color: var(--melon);
  padding-top: 350px;
  padding-bottom: 40px;
}
.avatar-img {
  border-radius: 50%;
}

#contact {
  background-color: var(--melon);
  padding-top: 20px;
  padding-bottom: 50px;
}
#contact-form{
  float: left;
  margin-top: 40px;
}

.container{
  margin-bottom: 30px;
}

.mailbox{
  float: left;
  height: 50%;
  padding-bottom: 90px;
}

button{
  color:white;
  background-color: var(--lavender);
  border-radius: 5px;
  border: none;
  margin: 2px;
  float: right;
  margin-right: 80px;
  margin-top: 10px;
}

button:hover{
  background-color: var(--tickle-me-pink);
}

textarea {
	width: 300px;
	height: 200px;
	border: 2px solid var(--tickle-me-pink);
	padding: 5px;
  resize: none;
  border-radius: 3px;
}
input {
  font-size: 1rem;
  margin: 7px;
  padding: 2.5px;
  border: 2px solid var(--tickle-me-pink);
  outline: none;
  border-radius: 3px;
}
.form-div {
  display: flex;
  justify-content: center;
} 

.error-text {
color: var(--lavender);  
}
form {
  width: 40%;
  padding-bottom: 30px;
 
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

label{
  color:var(--magenta-haze);
  margin-right: 10px;
}

.language{
  color: var(--lavender);

}

.resume-link{
  text-decoration: none;
  font-size: 30px;
  color: var(--magenta-haze);
  text-align: right;
}

a.resume-link{
  text-align: right;
}

.resume-link:hover{
  color:var(--tickle-me-pink);
}

div.w3-container.w3-pink.strip {
  padding-top: 20px;
  padding-bottom: 22px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3px;
}
/* end of single pages */

/* footer */
footer{
  background-color: var(--magenta-haze);
  list-style: none;
  font-size: 75px;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
li.flist {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6px;
  padding-right: 29px;
}
.svg_icons{
  transform: scale(1.8);
  }


footer li {
  list-style: none;
  font-size: 30px;
  padding: 10px;
  color:var(--light-pink)
}

footer li:hover {
color: var(--tickle-me-pink);
}

svg{
  display: flex;
  flex-wrap: wrap;
}